<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<!-- 1.properties：属性配置 
		<property>:一个具体的属性配置
		resource：引入类路径下的属性文件
		url：引入网络路径或者磁盘路径下的属性文件
	-->
	<properties resource="jdbc.properties"></properties>
	
	<!-- 2.settings：包含了很多重要设置项 -->
	 <settings>
	 	<!-- mapUnderscoreToCamelCasEenable: 映射下划线到驼峰命名 -->
	 	<setting name="mapUnderscoreToCamelCase" value="true"></setting>
	 	<!-- lazyLoadingEnabled：开启延迟加载 -->
	 	<setting name="lazyLoadingEnabled" value="true" />
	 	<!-- aggressiveLazyLoading：设置加载的数据是按需还是全部 true是全部 false是按需 -->
	 	<setting name="aggressiveLazyLoading" value="false" />
	 </settings>
	 
	 <!-- 3.typeAliases：别名处理
	 	  <typeAlias>：给某个Java类取别名
	 	  type：指定Java的全类名
	 	  alias：指定别名，默认别名就是类名  不区分大小写
	 	  <package>:为指定的包级子包下的类批量取别名  
	 	  	如果有别名冲突的情况，可以使用@Alias()注解，为具体的类指定别名
	   -->
	 <typeAliases>
	 	<!-- <typeAlias type="com.mybatis.test.beans.Employee" alias="employee" /> -->
	 	<package name="com.mybatis.test.bean" />
	 </typeAliases>
	 
	<!-- 4.环境们
		environments：mybatis支持配置多个环境，通过default来指定具体使用的环境
		environment:具体的环境
		<transactionManager>:事务管理
			JDBC(别名)：JdbcTransactionFactory
			MANAGED：ManagedTransactionFactory
			结论：事务管理将来是交给spring去做.
		
		<dataSource>：数据源
			UNPOOLED：UnpooledDataSourceFactory
			POOLED：PooledDataSourceFactory
			JNDI：JndiDataSourceFactory
			结论：数据源将来交给spring去做.
	 -->
	<environments default="development">
		<!-- 具体的环境 -->
		<environment id="development">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="${jdbc.driver}" />
				<property name="url" value="${jdbc.url}" />
				<property name="username" value="${jdbc.username}" />
				<property name="password" value="${jdbc.password}" />
			</dataSource>
		</environment>
	</environments>
	
	 <!-- 5.引入SQL映射文件
	 		<mapper>:引入一个SQL映射文件
	 			resource: 引入类路径下的SQL映射文件
	 			<package>：批量引入SQL映射
	 					要求：SQL映射文件必须与Mapper接口同名同位置
	  -->
	<mappers>
		<!-- <mapper resource="EmployeeMapper.xml" /> -->
		<package name="com.mybatis.test.dao"/>
	</mappers>
</configuration>